<header>
Проект солнечного трекера
<h4>Здесь можно увидеть показания солнечной батареи. </h4>
</header>
<nav>
<a href = "http://suntracker.tk"><div class="nav-item">Главная страница</div></a>
<a href = "http://213.85.168.61/log.txt"><div class="nav-item">Лог событий</div></a>
<a href = "http://213.85.168.61/commands.php"><div class="nav-item">Состояние трекера</div></a>
<a href = "http://213.85.168.61/data.php"><div class="nav-item">Данные</div></a>
</nav>