<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<body>
	<div id="wave">
		<span class="dot" v-for="(dot, i) in dots" v-bind:style="wavePos[i]"></span>
		<div>
			<label>V</label><input type="number" name="period" v-model="speed" step="0.05"></br>
			<label>A</label><input type="number" name="period" v-model="amplitude" step="1">
		</div>
	</div>
</body>
<script>
	let v = new Vue({
		el: '#wave',
		data: {
			dots: [],
			wavePos: [],
			speed: 0.4,
			amplitude: 10,
			date: new Date(),
		},
		mounted() {
			let dots_num = window.innerWidth / 20 - 5;
			if (dots_num > 80) dots_num = 80;
			for (let i = 0; i < dots_num; i++) {
				this.dots.push(i);
				this.wavePos.push({
					top: "0",
					left: String(5 + i * 20) + "px",
				});
				setInterval(this.height, 1, i)
			}
		},
		methods:{
			height(i){
				let t = new Date();
				this.wavePos[i].top = String(Math.sin(t.getTime()/500 - this.date.getTime()/500 - i * this.speed)*this.amplitude) + "vh";
			}
		}
	});
</script>

<style>
	#wave{
		position: relative;
		margin-top: 200px;
		padding-top: 200px
	}
	body{
		background-color: rgba(10, 70, 255, 0.45);
	}
	.dot{
		border-radius: 5px;
		height: 10px;
		width: 10px;
		background-color: white;
		position: absolute;
	}
</style>
</html>
